@import "colors.css";

/* ------------- GENERAL ------------- */

* {
  font-family: Ubuntu;
  font-weight: 700;
}

window#waybar {
  background: linear-gradient(
    rgba(20, 22, 26, 0.2) 20%,
    rgba(20, 22, 26, 0.1) 40%,
    rgba(20, 22, 26, 0.0) 100%
  );
}


/* ------------- CLOCK ------------- */

#clock {
  padding-top: 4px;
  font-size: 20px;
  color: @foreground;
}


/* ------------- WORKSPACES ------------- */

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  font-size: 20px;
  padding: 0 20px 0 14px;
  margin: 0 3px;

  border-radius: 4px;
  font-weight: bold;

  color: @blue;
  background-color: @background;
  border: 2px solid @blue;
}

#workspaces button.active {
  color: @background;
  background-color: @blue;
}

#workspaces button.hidden {
  color: @background;
  background-color: @blue;
}

#workspaces button:hover {
  transition-duration: .2s;
  box-shadow: inherit;
  text-shadow: inherit;
  border-color: @magenta;
  background: @magenta;
  color: @background;
}

/* ------------- AUDIO ------------- */

#custom-volumeIcon, #custom-volumeBar {
  margin-top: 2px;
  padding-right: 16px;
}

#custom-volumeIcon {
  padding-left: 16px;
  font-size: 21px;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  color: @blue;
  background-color: @background;
}

#custom-volumeIcon.muted {
  color: @red;
}

#custom-volumeBar {
  margin-right: 8px;

  font-family: UbuntuMono Nerd Font;
  font-size: 10px;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  /* border-top: 2px solid @blue; */
  /* border-bottom: 2px solid @blue; */
  /* border-right: 2px solid @blue; */

  color: @blue;
  background-color: @background;
}

#custom-volumeBar.muted {
  color: @red;
}
