@import "colors.css";

/* ------------- GENERAL ------------- */

* {
  font-family: Ubuntu;
  font-weight: 700;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.2);
}


/* ------------- CLOCK ------------- */

#clock {
  color: @foreground;
  font-size: 18px;
}


/* ------------- WORKSPACES ------------- */

#workspaces {
  margin: 0 6px;
}

#workspaces button {
  font-size: 20px;
  padding: 0 14px 0 8px;
  margin: 0 2px;

  border-radius: 8%;
  font-weight: bold;

  color: @blue;
  background-color: @background;
  border: 2px solid @blue;
}

#workspaces button.active {
  color: @background;
  background-color: @blue;
}

#workspaces button.hidden {
  color: @background;
  background-color: @blue;
}

#workspaces button:hover {
  transition-duration: .2s;
  box-shadow: inherit;
  text-shadow: inherit;
  border-color: @magenta;
  background: @magenta;
  color: @background;
}
