@define-color foreground #dce3ff;
@define-color background #282c34;

@define-color blue #61afef;
@define-color magenta #c678dd;
@define-color cyan #56b6c2;

* {
  font-family: Ubuntu;
  font-weight: 600;
  font-size: 20;
}

#window {
  border-radius: 10px;
  background: @background;
}

#input {
  margin: 16px;
  padding: 4px 12px;
  border: 3px solid @blue;
  border-radius: 10px;
  color: @foreground;
  background: @background;
}

#input:focus image {
  color: @blue;
}

#input image {
  color: @blue;
}

#inner-box {
  margin: 6px;
  padding: 0 10px;
  width: 100%;
}

#entry {
  padding: 4px 6px;
  border-radius: 10px;
}

#text {
  color: @foreground;
  margin: 8px 16px;
}

#entry:selected {
  color: @background;
  background: @blue;
}

#text:selected {
  color: @background;
}
